#shadow {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    z-index: 999;
    position: absolute;
    top: 0px;
    margin: 0px;
    display: none;
}

#registerscreen {
    background-color: lightgrey;
    border: 5px solid grey;
    border-radius: 50px;
    width: 300px;
    height: 200px;
    margin: auto;
    padding: 50px;
}

body {
    position: relative;
    padding: 0px;
}
html {
    padding: 0px;
}